.paddingchicken{
    padding-bottom: 31px;
}
.paddingbf{
    padding-bottom: 3px;
}
.margincardslider{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.paddingbot{
    padding-bottom: 25px;
}
.margintop{
    margin-top: 12.5px;
}
.listedimg{
    width: 130px;
    height: auto;
}
.margineat{
    margin-left: 20px;
    margin-right: 20px;
}