<ion-toolbar color="dark" class="paddingbot">
  <ion-title class="margintop">FeedMe</ion-title>
  <ion-buttons slot="end" class="margintop">
    <ion-menu-button auto-hide="false" class="margintop"></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-card class="margincardslider">
        <img src="assets/cereal.png" class="paddingbf"/>
        <ion-card-header class="ion-text-center">
          <ion-card-subtitle>Breakfast</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="margincardslider">
        <img src="assets/chicken.png" class="paddingchicken"/>
        <ion-card-header class="ion-text-center">
          <ion-card-subtitle>Lunch</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="margincardslider">
        <img src="assets/vegipie.png"/>
        <ion-card-header class="ion-text-center">
          <ion-card-subtitle>Dinner</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-searchbar color="medium" placeholder="Food"></ion-searchbar>
  <br>
  <ion-card-title class="margineat">Suggestions for today!</ion-card-title>
  <br>
  <ion-list-header>Cereal</ion-list-header>
  <ion-card class="margincardslider">
    <ion-row>
      <ion-col class="margineat">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. 
      </ion-col>
      <ion-col>
        <ion-row>
          <img src="assets/cereal.png" class="listedimg"/>
        </ion-row>
      </ion-col>
    </ion-row>
      <ion-button class="ion-margin-top" color="dark" expand="block" class="margineat">Eat!</ion-button>
  </ion-card>
  <br>
  <ion-list-header>Fried Chicken</ion-list-header>
  <ion-card class="margincardslider">
    <ion-row>
      <ion-col class="margineat">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. 
      </ion-col>
      <ion-col>
        <ion-row>
          <img src="assets/chicken.png" class="listedimg"/>
        </ion-row>
      </ion-col>
    </ion-row>
      <ion-button class="ion-margin-top" color="dark" expand="block" class="margineat">Eat!</ion-button>
  </ion-card>
  <br>
  <ion-list-header>Vegipie</ion-list-header>
  <ion-card class="margincardslider">
    <ion-row>
      <ion-col class="margineat">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. 
      </ion-col>
      <ion-col>
        <ion-row>
          <img src="assets/vegipie.png" class="listedimg"/>
        </ion-row>
      </ion-col>
    </ion-row>
      <ion-button class="ion-margin-top" color="dark" expand="block" class="margineat">Eat!</ion-button>
  </ion-card>
</ion-content>
